@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using GreenGardenClient.Models

}
@{
    if (ViewBag.Notification != null)
    {
        <div id="notification" class="alert alert-warning" role="alert">
            @ViewBag.Notification
        </div>
    }
}
<style>
    #notification {
        position: fixed;
        top: 20px; /* Khoảng cách từ đầu trang */
        right: 20px; /* Khoảng cách từ bên phải */
        z-index: 1050; /* Đảm bảo thông báo nằm trên các phần tử khác */
        opacity: 1; /* Bắt đầu với độ mờ là 1 */
        transition: opacity 1s ease-out, transform 1s ease-out; /* Hiệu ứng chuyển đổi cho độ mờ và biến đổi */
        transform: translateY(-10px); /* Đưa thông báo lên một chút */
        width: auto; /* Hoặc thay đổi thành một giá trị cụ thể, ví dụ: 300px */
        max-width: 300px; /* Giới hạn chiều rộng tối đa */
        padding: 15px; /* Khoảng cách bên trong cho thông báo */
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        if ($("#notification").length) {
            setTimeout(function () {
                $("#notification").css("opacity", "0"); // Đặt độ mờ thành 0
                $("#notification").css("transform", "translateY(10px)"); // Đưa thông báo xuống một chút khi ẩn
            }, 3000); // Sau 3 giây
        }
    });
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Danh sách nhân viên | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  



</head>

<body onload="time()" class="app sidebar-mini rtl">

    <!-- Sidebar menu-->

    <aside class="app-sidebar">

        <ul class="app-menu">

            <li>
                <a class="app-menu__item active" href="table-data-table.html">
                    <i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản lý Đơn hàng</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="#">
                    <i class='app-menu__icon bx bx-user-voice'></i><span class="app-menu__label">Quản lý khách hàng</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="table-data-product.html">
                    <i class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý nhân viên</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="table-data-oder.html">
                    <i class='app-menu__icon bx bx-task'></i><span class="app-menu__label">Quản lý sản phẩm</span>
                </a>
            </li>

        </ul>
    </aside>
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Danh sách các đơn đặt</b></a><a href="#"><b>/Tạo đơn</b></a><a href="#"><b>/Đặt vé</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <form asp-controller="OrderManagement" asp-action="UpdateTicket" method="post">
                        <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                               id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Mã vé</th>
                                    <th width="150">Tên vé</th>
                                    <th width="150">Hình ảnh</th>
                                    <th width="150">Loại</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                              
                                    @foreach (TicketVM item in ViewBag.tickets)
                                    {
                                    <tr>
                                        <td>@item.TicketId</td>
                                        <td>@item.TicketName</td>
                                        <td>@item.TicketCategoryName</td>
                                        <td>@item.ImgUrl</td>
                                        <td>@item.Price</td>
                                        <td>
                                            <input type="text" value="@item.TicketId" hidden name="TicketIds">
                                            <input type="text" value="@item.TicketName" hidden name="Name">
                                            <input type="number" value="@item.Price" hidden name="Prices">
                                            <input type="number" min="0" value="@item.Quantity" style="width: 100px;" name="Quantities">

                                        </td>
                                    </tr>


                                    }
                                
                                
                            </tbody>
                        </table>
                            <div class="d-flex ">
                                <a href="~/OrderManagement/CreateOrder" class="btn btn-secondary">Quay lại</a>

                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </main>


    <!-- Essential javascripts for application to work-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/src/jquery.table2excel.js"></script>
    <script src="~/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <script>
      
        oTable = $('#sampleTable').dataTable();
        $('#all').click(function (e) {
            $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
            e.stopImmediatePropagation();
        });


        function time() {
            var today = new Date();
            var weekday = new Array(7);
            weekday[0] = "Chủ Nhật";
            weekday[1] = "Thứ Hai";
            weekday[2] = "Thứ Ba";
            weekday[3] = "Thứ Tư";
            weekday[4] = "Thứ Năm";
            weekday[5] = "Thứ Sáu";
            weekday[6] = "Thứ Bảy";
            var day = weekday[today.getDay()];
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            nowTime = h + " giờ " + m + " phút " + s + " giây";
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = day + ', ' + dd + '/' + mm + '/' + yyyy;
            tmp = '<span class="date"> ' + today + ' - ' + nowTime +
                '</span>';
            document.getElementById("clock").innerHTML = tmp;
            clocktime = setTimeout("time()", "1000", "Javascript");

            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        }
     ;
    </script>
</body>

</html>
